/*
Далее в папку Areas/Store/Views добавим подкаталог Home - для представлений нового контроллера. 
И затем в этот подкаталог поместим представление Index.cshtml с одной строкой
*/

<h2>HomeController из области Store</h2>

/*


Вообще поиск представления для контроллера из области ведется по следующим путям:

/Areas/Store/Views/Home/

/Areas/Store/Views/Shared/

/Views/Shared/

Соответственно все три выше указанные папки мы могли бы использовать для хранения представления Index.cshtml для контроллера из области Store.


*/
